<a href="https://colab.research.google.com/github/KangMonkey/python_assignments/blob/main/Gr4_185.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=30 #variable 1
y=20 #variable 2
print("X + Y = ",x+y) #addition
print("X - Y = ",x-y) #substraction
print("X / Y = ",x/y) #ivision
print("X % Y = ",x%y) #modulus
print("X * Y = ",x*y)  #exponent

X + Y =  50
X - Y =  10
X / Y =  1.5
X % Y =  10
X * Y =  600

In [2]:
#This Is Single Line Comment
"""
This Is Used For Multiple Comment
"""
print("Sambit Kumar")#Name
print("CSE")#Branch
print("CS190017")#Roll no
print("6th")#Semester
print("Computer Science")#Department
print("C.V. Raman Global University,Bhubaneswar")#College name
print(" This is line1\n This is line2")#\n is use to break the current Line

Sambit Kumar
CSE
CS190017
6th
Computer Science
C.V. Raman Global University,Bhubaneswar
 This is line1
 This is line2

In [3]:
#Conversion of Celsius to Fahrenheit
C=int(input("Enter Temperature in Celsius Degree : "))
F=((9/5)*C)+32
print("Temperature in Fahrenheit Scale is : ",F)

Enter Temperature in Celsius Degree : 23
Temperature in Fahrenheit Scale is :  73.4

In [4]:
#Taking User Input
A=int(input("Enter Value Of A : "))
B=int(input("Enter Value Of B : "))
#Arithmetic operations
print("A + B = ",A+B) #addition
print("A * B = ",A*B) #multiplication
print("A / B = ",A/B) #Division
print("A // B = ",A//B) #Floor Division
print("A % B = ",A%B) #modulus
print("A * B = ",A*B)  #exponent

Enter Value Of A : 4
Enter Value Of B : 5
A + B =  9
A * B =  20
A / B =  0.8
A // B =  0
A % B =  4
A * B =  20

In [5]:
hours=int(input("Enter Hours : "))
rate=float(input("Enter Rates : "))

Enter Hours : 32
Enter Rates : 44

In [22]:
PI_value=3.141
radius=23
first_length_of_triangle=12
Second_length_of_triangle=13
Third_length_of_triangle=14
length_of_square=13
print("Area Of Circle is : ",PI_value*(radius**2))
print("Perimeter Of Circle is : ",2*PI_value*radius)
print("Area Of Square : ",(length_of_square**2))
print("Perimeter Of Square is : ",4*length_of_square)
print("Perimeter Of Triangle is : ",(first_length_of_triangle+Second_length_of_triangle+Third_length_of_triangle))
s=(first_length_of_triangle+Second_length_of_triangle+Third_length_of_triangle)/2
var=s*(s-first_length_of_triangle)*(s-Second_length_of_triangle)*(s-Third_length_of_triangle)
print("Area Of Triangle : ",var**0.5)

Area Of Circle is :  1661.589
Perimeter Of Circle is :  144.486
Area Of Square :  169
Perimeter Of Square is :  52
Perimeter Of Triangle is :  39
Area Of Triangle :  72.30793524918272

In [9]:
#To show the use of all the arithmetic operators.
x=30 #variable 1
y=20 #variable 2
print("X + Y = ",x+y) #addition
print("X - Y = ",x-y) #substraction
print("X * Y = ",x*y) #multiplication
print("X / Y = ",x/y) #ivision
print("X % Y = ",x%y) #modulus
print("X * Y = ",x*y)  #exponent

X + Y =  50
X - Y =  10
X * Y =  600
X / Y =  1.5
X % Y =  10
X * Y =  600

In [10]:
#to see the data type of variables
a=12
b=12.34
c="Sambit"
d=[1,2,3,7,"Kumar"]
e=(1,2,6,7)
f={8,9,10}
g={"k1":12,"k2":13}
print(" variable a type is : ",type(a))
print(" variable b type is : ",type(b))
print(" variable c type is : ",type(c))
print(" variable d type is : ",type(d))
print(" variable e type is : ",type(e))
print(" variable f type is : ",type(f))
print(" variable g type is : ",type(g))

 variable a type is :  <class 'int'>
 variable b type is :  <class 'float'>
 variable c type is :  <class 'str'>
 variable d type is :  <class 'list'>
 variable e type is :  <class 'tuple'>
 variable f type is :  <class 'set'>
 variable g type is :  <class 'dict'>

In [11]:
# To show the use of asignment operators
a = 12 # = is used for assignment
print(a)
a += 20 # addition with assign
print(a)
a -= 10 # substraction with assign
print(a)
a *= 10 # multiplication with assign
print(a)
a /= 10 # Division with assign
print(a)
a //= 10 # Floor Division with assign
print(a)

12
32
22
220
22.0
2.0

In [12]:
#swap two number in python
a=10
b=20
print("Before Swapping a = ",a," b = ",b)
b,a=a,b
print("Aftter Swapping a = ",a," b = ",b)

Before Swapping a =  10  b =  20
Aftter Swapping a =  20  b =  10

In [13]:
#To show the use of all the membership operators.
l=[1,2,3,4,5]
v=6
#in operator
print(" v in l : ",v in l)
#not in operator
print(" v not in l",v not in l)

 v in l :  False
 v not in l True

In [14]:
#the use of all logical operator
a=True
b=False
#and operator
print(" a and b is : ",a and b)
#or operator
print(" a or b is : ",a or b)
#not opeator
print(" not a : ",not a)

 a and b is :  False
 a or b is :  True
 not a :  False

In [15]:
#To show the use of all the identity operators.
a=16
b=18
#is operator
print(" a is b : ",a is b)
#is not operator
print(" a is not b : ",a is not b)

 a is b :  False
 a is not b :  True

In [16]:
#To show the use of all the comparison/Relational operators.
a=30
b=20
print(a>b)# a greater then b
print(a>=b)#a greater then or equal to b
print(a==b)#a equals to b
print(a<b)# a less then b
print(a<=b)#a less then or equal to b
print(a!=b)#a not equal to b

True
True
False
False
False
True

In [17]:
#bitwise operator
a=5
b=3
print(" a & b : ",a&b)#bit wise and
print(" a | b : ",a|b)#bit wise or
print(" a ^ b : ",a^b)#bitwise xor
print(" ~a : ",~a)#bitwise not
print(" a>>1 : ",a>>1)#bitwise right sift
print(" a<<1 : ",a<<1)#bitwise left sift

 a & b :  1
 a | b :  7
 a ^ b :  6
 ~a :  -6
 a>>1 :  2
 a<<1 :  10

In [19]:
#To show all the operation and methods related with immutable data type.
#string method
s="sambit kumar"
print(s.capitalize())# capitalize the variable
print(s.count("i"))#count the value passed as parameter in string
print(s.index("b"))#return the index
print(s.upper())#convert to upper case
print(s.lower())#convert to lower case
#tuple method
t=(5,7,8,9,10)
print(t.count(4))#count the value passed as parameter in tuple
print(t.index(8))#return the index of value

Sambit kumar
1
3
SAMBIT KUMAR
sambit kumar
0
2

In [20]:
#all mutable datatype operation
#list methods
l=[1,2,3,4]
print(l[1])#get value with index
l.append(12)#add element to list at end
print(l)
l.extend([1,2,3])#add a list 
print(l)
print(l.index(3))#return the index
print(l.pop())#remove the last element from list
l.insert(0,10)#insert at specific index
print(l)
l.remove(2)#remove the element from list
print(l)

2
[1, 2, 3, 4, 12]
[1, 2, 3, 4, 12, 1, 2, 3]
2
3
[10, 1, 2, 3, 4, 12, 1, 2]
[10, 1, 3, 4, 12, 1, 2]