<a href="https://colab.research.google.com/github/stellabyte2/python_assignments/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input("Enter a number: "))    
f = 1    
if n < 0:    
   print(" Factorial does not exist for negative numbers")    
elif n == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,n + 1):    
       f = f*i    
   print("The factorial of ",n," is ",f)

Enter a number: 5
The factorial of  5  is  120

In [ ]:
list = [10,30,23,43,65,12]  
sum = 0  
for i in list:  
    sum = sum+i  
print("The sum is:",sum)

The sum is: 183

In [ ]:
i=1    
number=0    
b=9    
number = int(input("Enter the number:"))    
while i<=10:    
    print("%d  X  %d  =  %d \n"%(number,i,number*i))    
    i = i+1

Enter the number:12
12  X  1  =  12

12  X  2  =  24

12  X  3  =  36

12  X  4  =  48

12  X  5  =  60

12  X  6  =  72

12  X  7  =  84

12  X  8  =  96

12  X  9  =  108

12  X  10  =  120

In [ ]:
n = int(input("Enter value for n :"))  
for i in range(0,n+1):  
    for j in range(i):  
        print("*",end = '') # here loop print * symbol
    print()

Enter value for n :5

*
**
***
****
*****

In [ ]:
n = int(input("Enter value for n"))  
for i in range(0,n+1):  
    for j in range(i):  
        print(i,end = '')  
    print()     # it is for new blank line

Enter value for n6

1
22
333
4444
55555
666666

In [ ]:
list =[11,22,3,40,21,56,34,9,44]  
count = 1;  
S = int(input("Enter item to search: "))  
for i in list:  
    if i == S:  
        print("Item matched")   
        break
    count = count + 1; 
print("Found at",count,"position.");

Enter item to search: 21
Item matched
Found at 5 position.

In [ ]:
str = "Bhubaneswar"  
for i in str:  
    if i == 'e':  
        break  
    print(i);

B
h
u
b
a
n

In [ ]:
i = 0;  
while 1:  
    print(i," ",end=""),  
    i=i+1;  
    if i == 10:  
        break;  
print("came out of while loop");

0  1  2  3  4  5  6  7  8  9  came out of while loop

In [ ]:
n=2  
while 1:  
    i=1;  
    while i<=10:  
        print("%d X %d = %d\n"%(n,i,n*i));  
        i = i+1;  
    choice = int(input("Do you want to continue printing the table, press 0 for no?"))  
    if choice == 0:  
        break;      
    n=n+1

2 X 1 = 2

2 X 2 = 4

2 X 3 = 6

2 X 4 = 8

2 X 5 = 10

2 X 6 = 12

2 X 7 = 14

2 X 8 = 16

2 X 9 = 18

2 X 10 = 20

Do you want to continue printing the table, press 0 for no?0

In [ ]:
i = 0                     
while(i < 10):                
   i = i+1  
   if(i == 5):  
      continue  
   print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
str = "Bhubaneswar"  
for i in str:  
    if(i == 'n'):  
        continue  
    print(i)

B
h
u
b
a
e
s
w
a
r

In [ ]:
str = "C V Raman Global University"  
# Start 0th index to end  
print(str[0:])  
# Starts 1th index to 4th index  
print(str[1:5])  
# Starts 2nd index to 3rd index  
print(str[2:4])  
# Starts 0th to 2nd index  
print(str[:3])  
#Starts 4th to 6th index  
print(str[4:7])

C V Raman Global University
 V R
V
C V
Ram

In [ ]:
str = "Hello"     
str1 = " CGU"    
print(str*3) # prints HelloHelloHello    
print(str+str1)# prints Hello CGU     
print(str[4]) # prints o                
print(str[2:4]); # prints ll                    
print('U' in str) # prints false as w is not present in str

HelloHelloHello
Hello CGU
o
ll
False

In [ ]:
str = "Hello Python"  
str2 = str.upper()  
print(str2)  

list = ["ankita","basanta","sujata"]  
for  l in list:  
    print(l.upper())

HELLO PYTHON
ANKITA
BASANTA
SUJATA

In [ ]:
str = "Happy Independence Day"  
str2 = str.swapcase()  
print (str2)

hAPPY iNDEPENDENCE dAY

In [ ]:
LIST =[]  
n = int(input("Enter the number of elements in the list:"))  
for i in range(0,n):     
    LIST.append(input("Enter the item:"))     
print("printing the list items..")   
for i in LIST:   
    print(i, end = "  ")

Enter the number of elements in the list:4
Enter the item:1
Enter the item:4
Enter the item:5
Enter the item:6
printing the list items..
1  4  5  6

In [ ]:
list = [0,1,2,3,4]     
print("printing original list: ");    
for i in list:    
    print(i,end=" ")    
list.remove(2)    
print("\nprinting the list after the removal of first element...")    
for i in list:    
    print(i,end=" ")

printing original list:
0 1 2 3 4
printing the list after the removal of first element...
0 1 3 4

In [ ]:
list1 = [1,2,2,3,55,98,65,65,13,29]  
# Declare an empty list that will store unique values  
list2 = []  
for i in list1:  
    if i not in list2:  
        list2.append(i)  
print(list2)

[1, 2, 3, 55, 98, 65, 13, 29]

In [ ]:
list1 = [3,4,5,9,10,12,24]  
sum = 0  
for i in list1:  
    sum = sum+i      
print("The sum is:",sum)

The sum is: 67

In [ ]:
list1 = [1,2,3,4,5,6]  
list2 = [7,8,9,2,10]  
for x in list1:  
    for y in list2:  
        if x == y:  
            print("The common element is:",x)

The common element is: 2